.active {
  font-weight: 600;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #b11b1b;
}
.non-active {
  font-weight: 600;
  display: flex;
  color: #000;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.rounded:focus {
  outline: none;
}
